@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ua_regular";
  src: url("./assets/fonts/e-Ukraine-Regular.otf");
}

@font-face {
  font-family: "ua_bold";
  src: url("./assets/fonts/e-Ukraine-Bold");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}